<div class='container' id='addform-container'>
  <h2>Add New Family Member</h2>
  <form>
    <div class='form-row'>
      <div class='form-group col-md-6'>
        <label for='full-name'>Full Name:</label>
        <input
          type='text'
          class='form-control'
          id='full-name'
          name='full-name'
          required
        />
      </div>
      <div class='form-group col-md-6'>
        <label for='relationship'>Relationship:</label>
        <select
          class='form-control'
          id='relationship'
          name='relationship'
          required
        >
          <option value=''>Select</option>
          <option value='mother'>Mother</option>
          <option value='father'>Father</option>
          <option value='grandfather'>Grandfather</option>
          <option value='grandmother'>Grandmother</option>
        </select>
      </div>
    </div>
    <div class='form-row'>
      <div class='form-group col-md-6'>
        <label for='dob'>Date of Birth:</label>
        <input type='date' class='form-control' id='dob' name='dob' required />
      </div>

      <div class='form-group'>
        <label for='gender'>Gender:</label>
        <select class='form-control' id='sex' name='sex' required>
          <option value>Select</option>
          <option value='0'>Male</option>
          <option value='1'>Female</option>
        </select>
      </div>

      <div>
        <label for='side_id'>Relation Type:</label>
        <select id='side_id' name='side_id' required>
          <option value='1'>Father</option>
          <option value='2'>Mother</option>
          <option value='3'>Spouse</option>
          <option value='4'>Sibling</option>
          <option value='5'>Child</option>
        </select>
      </div>

    </div>
    <div class='form-group'>
      <label for='biography'>Biography (up to 100 words):</label>
      <textarea
        class='form-control'
        id='biography'
        name='biography'
        rows='4'
        maxlength='100'
        required
      ></textarea>
    </div>
    <div class='form-group' id='photo-upload'>
      <label for='photo'>Upload a Photo:</label>
      <input
        type='file'
        class='form-control-file'
        id='photo'
        name='photo'
        accept='image/*'
        required
      />
    </div>
    <div class='form-group' id='submitbtn-container'>
      <input
        type='submit'
        class='btn btn-primary'
        value='Submit'
        id='formsubmit'
      />
    </div>
  </form>
</div>