<section>
{{!-- if grandparentsmum --}}
{{> family_member}}
{{!-- if grandparentsdad --}}
{{> family_member}}
{{!-- if parents --}}
{{> family_member}}
{{!-- if self --}}
{{> family_member}}

</section>