
/* 
Home page */


.main-container {
    min-width: auto;
}


.bg-container {
   
    opacity: 5%;
    width: 1000px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 50px;
}

.tree-container {
    background-image: url("./image/treebg.png");
    background-position: 150% bottom;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}


.intro-container {
    display: flex;
    height: 250px;
}

#intro-box {
    width: 600px;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: flex-start;
    flex-direction: column;
    border: solid white;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#intro-box h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #23112E;
}


.app-logo {
    background-color: #EF5132;
    display: flex;
    width: 100px;
    height: 95px;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #23112E;
    font-size: 36px;
}

