
/* 
Home page */

.main-container {
    background-image: url("./image/tree_bg.png");
    opacity: 5%;
    width: 1000px;
    background-size: contain;
    position: relative;
    left: 40%;
    top: 200px;
}