
/* 
Home page */

body {
    font-size: 18px;
}

.main-container {
    min-width: auto;
}


.bg-container {
   
    opacity: 5%;
    width: 1000px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 50px;
}

.tree-container {
    background-image: url("./image/treebg.png");
    background-position: 150% bottom;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}


.intro-container {
    display: flex;
    height: 250px;
}

#intro-box {
    width: 600px;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: flex-start;
    flex-direction: column;
    border: solid white;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

#intro-box h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #23112E;
}


/* navigation styling */

.app-logo {
    background-color: #EF5132;
    display: flex;
    width: 100px;
    height: 95px;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #23112E;
    font-size: 36px;
    padding-left: 20px;
}


.sign-up {
    background-color: #23112E;
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
}

.sign-up:hover {
    background-color: #EF5132;
    color: white;
}

.site-identity {
    display: flex;
    align-items: center;
}

.menu-right {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-right  {
    margin-right: 10px;
    margin-left: 10px;
}


/* form styling */

#form-container {
    max-width: 800px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 1px 12px 18px 11px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
}

#form-container h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #EF5132;
}

.form-group input {
    background-color: #F0EAF4;
    border: none;
    border-radius: 20px;
    height: 50px;
}

.form-group textarea {
    background-color: #F0EAF4;
    border: none;
    border-radius: 20px;
    height: 100px;
}

.form-group select {
    background-color: #F0EAF4;
    border: none;
    border-radius: 20px;
    height: 50px;
}


#photo {
    background-color: white;
    border: dashed 1px #23112E;
}


#submitbtn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#formsubmit {
    width: 300px;
    background-color: #23112E;
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
}

#formsubmit:hover {
    background-color: #EF5132;
}

/* add new family member form */

#addform-container {
    max-width: 600px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 1px 12px 18px 11px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
}

#addform-container h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #EF5132;
}

input #file-upload-button {
    color: red;
}


/* Login form styling */

#login-container {
    max-width: 400px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 1px 12px 18px 11px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
}

#login-container h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    font-weight: 700;
    color: #EF5132;
    display: flex;
    align-items: center;
    justify-content: center;
}


  






/* Avatar Styling */

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgb(214, 214, 214);
    width: 137px !important;
    height: 129px;
    top: -60px;
  }
  
  .card-container {
    margin-top: 100px;
    box-shadow: 4px 4px 8px rgb(217, 217, 217);
    border-radius: 10px;
    width: 137px;
    height: 117px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card-container:hover {
    transform: scale(1.1);
  }
  
  .avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .position-relative{
    position: relative;
  }
  
  .position-absolute{
    position: absolute;
  }
  
  
  .name-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 80px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #23112E;
  }
  
  .plus-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      color: white;
      background-color: #23112E;
      border-radius: 50%;
      position: absolute;
      left: 120px;
      top: 20px;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
  }
  
  .plus-button:hover {
    background-color: #EF5132;
    scale: 100px;
    transform: scale(1.2);
  }


  /* Family Member Modal Styling */

  .modal-container {
    max-width: 580px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 1px 12px 18px 11px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
}

.modal-header {
    display: flex;
}



.blurred-div {
    background-image: url('your-background-image.jpg'); /* Replace 'your-background-image.jpg' with the actual image path */
    width: 500px; /* Set the width of your div */
    height: 300px; /* Set the height of your div */
    position: relative; /* Ensure proper positioning of the content */
    color: white; /* Set the text color (optional) */
    font-size: 24px; /* Set the font size (optional) */
    padding: 20px; /* Add some padding (optional) */

    /* Fallback for browsers that don't support backdrop-filter */
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity to your liking */

    /* Use the backdrop-filter property for a blurring effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius to your liking */
}

/* large connector */

.t-shape-large {
    width: 550px;
    height: 175px;
    position: relative;
    top: 100px;
  }
  
  
  .t-shape-large:before,
  .t-shape-large:after {
    content: "";
    position: absolute;
    background-color: black;
  }
  
  .t-shape-large:before {
    width: 3px;
    height: calc(50% - 0.5px);
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  
  .t-shape-large:after {
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
  }

