
/* For test styling */


/* Avatar Styling */

.avatar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgb(214, 214, 214);
  width: 137px !important;
  height: 129px;
  top: -60px;
}

.card-container{
  margin-top: 100px;
  box-shadow: 4px 4px 8px rgb(217, 217, 217);
  border-radius: 10px;
  width: 137px;
  height: 117px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: scale(1.1);
}

.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}


.name-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 80px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: #23112E;
}

.plus-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    color: white;
    background-color: #23112E;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: 20px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.plus-button:hover {
  background-color: #EF5132;
  scale: 100px;
  transform: scale(1.2);
}


/* Node Connector styling */

.t-shape {
  width: 375px;
  height: 160px;
  position: relative;
}


.t-shape:before,
.t-shape:after {
  content: "";
  position: absolute;
  background-color: black;
}

.t-shape:before {
  width: 3px;
  height: calc(50% - 0.5px);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.t-shape:after {
  width: 100%;
  height: 3px;
  left: 0;
  top: 0;
}

.intersection {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  top: calc(50% -2px);
  transform: translate(-50%, -50%);
}


/* large connector */

.t-shape-large {
  width: 550px;
  height: 175px;
  position: relative;
}


.t-shape-large:before,
.t-shape-large:after {
  content: "";
  position: absolute;
  background-color: black;
}

.t-shape-large:before {
  width: 3px;
  height: calc(50% - 0.5px);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.t-shape-large:after {
  width: 100%;
  height: 3px;
  left: 0;
  top: 0;
}
